<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--1、别名-->
    <typeAliases>
        <package name="com.lh.pojo"/>
    </typeAliases>
    <!--2、设置-->


    <!--以下 在spring配置文件中配置了-->

    <!--&lt;!&ndash;连接(数据源)&ndash;&gt;-->
    <!--<environments default="development">-->
        <!--<environment id="development">-->
            <!--<transactionManager type="JDBC"></transactionManager>-->
            <!--<dataSource type="POOLED">-->
                <!--<property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
                <!--<property name="url" value="jdbc:mysql://localhost:3306/mybatis?-->
                        <!--useSSL=true&amp;useUnicode=true&amp;characterEncoding=UTF8&amp;serverTimezone=Asia/Shanghai"/>-->
                <!--<property name="username" value="root"/>-->
                <!--<property name="password" value="Admin888"/>-->
            <!--</dataSource>-->
        <!--</environment>-->
    <!--</environments>-->


    <!--&lt;!&ndash;注册&ndash;&gt;-->
    <!--<mappers>-->
        <!--<package name="com.lh.mapper"/>-->
        <!--&lt;!&ndash;<mapper resource="com/lh/mapper/UserMapper.xml"/>&ndash;&gt;-->
    <!--</mappers>-->



</configuration>